@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Degular';
  src: url('./assets/fonts/Degular-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('./assets/fonts/Degular-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('./assets/fonts/Degular-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
    font-family: 'Degular', sans-serif;
  }
}

@layer components {
  .nav-link {
    @apply flex items-center rounded-full gap-2 px-4 py-2.5 text-[#56616B] text-[18px] hover:bg-[#EFF1F6] transition-colors;
  }
  .nav-link.active {
    @apply text-[#FFFFFF] bg-[#131316];
  }
  .btn-primary {
    @apply bg-black text-white px-6 py-2 rounded-full hover:bg-gray-800 transition-colors;
  }
  .card {
    @apply rounded-lg p-4;
  }
}
